<div *ngIf="!isLoading">
    <div class="form-box-wrapper">
        <div class="form-box-container">
            <form [formGroup]="form" class="form-container">
                <input id="ticket" 
                    type="text" 
                    (keydown)="isNumber($event)"
                    placeholder="No. of Tickets" 
                    formControlName="noOfTickets"
                > 
                <div>
                    <span *ngIf="( ticketfield.status == 'INVALID' && ticketfield.touched ) || ticketfield?.errors?.['max']">Please enter number of tickets in range 1 - 7.</span>
                </div>
                <button class="submit-button" [ngClass]="{ 'disabled': form.valid }"(click)="bookTickets()">Book Tickets</button>
            </form>
        </div>
    </div>
</div>

<div *ngIf="isLoading"> Loading </div>